{% extends 'bezoekerbase.html.twig' %}

{% block title %}Hello Bezoeker
{% endblock %}

{% block content %}
	<div class="row">


		<div class="col-sm-6">
			<div class="alert alert-dark alert-dismissible fade show" role="alert">Neem gerust contact met ons op.
				<strong>trainings-factory@live.com</strong>
			</div>

		</div>


		<div class="col-sm-6">

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2453.9404116865953!2d4.2501086!3d52.044398199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b171dfd3195d%3A0x14cbe8c02cccb47c!2sTinwerf%2016%2C%202544%20ED%20Den%20Haag!5e0!3m2!1snl!2snl!4v1674738147864!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		</div>

	</div>
{% endblock %}
