{% extends 'bezoekerbase.html.twig' %}

{% block title %}Hello Bezoeker
{% endblock %}

{% block content %}
    <br>

	<section>
		Being fit and healthy is not a matter of course. We have to do something ourselves. Good, healthy food is the basis for this. Movement is also part of this. Regular exercise ensures good blood circulation and contributes to relaxation of body and mind. Sports are good for stronger muscles and for the condition. The Training Factory has various sports equipment to contribute to your condition.
	</section>
{% endblock %}
