{% extends 'instructorbase.html.twig' %}

{% block title %}Hello InstructorController!
{% endblock %}

{% block content %}
<br>
	<h1>Welkom bij de instructeur pagina</h1>

	<p>Gebruik de menubalk bovenin om uw keuze te maken</p>


{% endblock %}
